@import './reset.css';
@import './variables.css';
@import './typography.css';

body {
  font-family: sans-serif;
  line-height: var(--line-height-150);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  color: var(--text-color-primary);
}

.file-list-grid {
  display: grid;
  grid-template-columns: 40px 3fr 1fr 1fr 22px;
  align-items: center;
  gap: 12px;
}