.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.subtitle {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
}

.regular-text {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}

.light-text {
  color: var(--text-color-secondary);
}

.file-name {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
}

.table-header {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-s);
}