:root {
  /* font sizes */
  --font-size-s: 0.75rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.5rem;

  /* line heights */
  --line-height-150: 1.5;

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* text colors */
  --text-color-primary: #101828;
  --text-color-secondary: #667085;

  /* ui colors */
  --color-light-grey: #EAECF0;
}